body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #3A8DFF, #FFFFFF, #AEE3FF);
}

nav {
  background: transparent; 
  padding: 15px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
}

nav a:hover {
  background-color: rgba(220,220,220,0.5); /* delikatniejsze hover */
  border-radius: 6px;
}